Dataset: https://www.kaggle.com/datasets/CooperUnion/anime-recommendations-database?select=rating.csv

## Librerias

In [18]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import numpy as np

## Recolección de la data.

In [19]:
ratings = pd.read_csv("rating.csv")
animes = pd.read_csv("anime.csv")

## Preparación de la data/ preprocesamiento la data

In [20]:
ratings.head(6)

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1
5        1       355      -1

In [21]:
animes.head(6)

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
5,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15,93351

In [22]:
animes_titles = animes[["anime_id", "name"]]
animes_titles.head(6)

   anime_id                                               name
0     32281                                     Kimi no Na wa.
1      5114                   Fullmetal Alchemist: Brotherhood
2     28977                                           Gintama°
3      9253                                        Steins;Gate
4      9969                                      Gintama&#039;
5     32935  Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...

In [23]:
anime_ratings = ratings.merge(animes_titles, on="anime_id")
anime_ratings.head(6)

   user_id  anime_id  rating    name
0        1        20      -1  Naruto
1        3        20       8  Naruto
2        5        20       6  Naruto
3        6        20      -1  Naruto
4       10        20      -1  Naruto
5       21        20       8  Naruto

In [24]:
animes_titles[animes_titles["name"] == "Naruto"]

     anime_id    name
841        20  Naruto

In [25]:
anime_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7813727 entries, 0 to 7813726
Data columns (total 4 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   int64
 1   anime_id  int64
 2   rating    int64
 3   name      object
dtypes: int64(3), object(1)
memory usage: 238.5+ MB

In [26]:
anime_ratings.isna().any()

user_id     False
anime_id    False
rating      False
name        False
dtype: bool

In [27]:
encoder = LabelEncoder()

In [28]:
encoder.fit(anime_ratings['user_id'])
anime_ratings.loc[:, 'user_id'] = sorted(encoder.transform(anime_ratings['user_id']))

encoder.fit(anime_ratings['anime_id'])
anime_ratings.loc[:, 'anime_id'] = encoder.transform(anime_ratings['anime_id'])

In [30]:
anime_ratings

,user_id,anime_id,rating,name
0,0,10,-1,Naruto
1,0,10,8,Naruto
2,0,10,6,Naruto
3,0,10,-1,Naruto
4,0,10,-1,Naruto
...,...,...,...,...
7813722,73513,10272,8,Dr. Slump: Hoyoyo! Arale no Himitsu Dai Koukai...
7813723,73513,11081,10,Shiroi Zou
7813724,73513,9908,-1,Kakinoki Mokkii
7813725,73514,11193,-1,Hashiri Hajimeta bakari no Kimi ni
7813726,73514,10331,4,Gamba: Gamba to Nakama-tachi